.article_info{
	background-color: #2D2929;
	min-height: 260px;
	width: 92%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	border: 1px solid black;
	background-color: #2D2929;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius: 5px;            /* W3C syntax */
}

.article_content_label{
	padding: 5px 25px;
	color: #428bca;
	font-size: 20px;
}

.article_content{
	min-height: 500px;
	border-bottom: 1px dotted gray;
	padding: 5px 25px;
	font-size: 14px;
	font-family: "Microsoft YaHei","Helvetica Neue",SimSun;
}

.article_link{
	margin-top: 20px;
	font-size: 15px;
}

.article_link ul li{
	list-style: none;
	margin: 5px 0;
}

.article_comment{
	
}

.comments_label{
	background-color: rgba(177,27,27,0.8);
	min-height: 25px;
	margin: 5px;
	line-height: 25px;
	font-size: 16px;
	padding-left: 15px;
}

.single_comment{
	margin: 10px 5px 10px 5px;
}

.comment_avatar{
	font-size: 24px;
	padding: 0 0 0 15px !important;
}

.comment_username{
	height: 24px;
	line-height: 24px;
	padding: 0 !important;
	font-size: 18px;
	font-weight: bold;
}

.comment_words{
	min-height: 24px;
	line-height: 24px;
}

.comments, .make_comments{
	min-height: 100px;
	border-bottom: 1px dotted gray;
	margin-bottom: 15px;
}

.make_comments form{
	margin: 15px 15px;
}

.make_comments textarea{
	min-height: 100px;
}

.warn_submit_comment{
	color: #FFFFFF;
}

.submit_comment{
	color: #FFFFFF;
}

.submit_comment_btn{
	background-color: #961D1D;
	color: #FFFFFF;
}


